server:
  port: 8080

spring:
  mvc:
    throw-exception-if-no-handler-found: true
    web:
      resources:
        add-mappings: false
    jackson:
      property-naming-strategy: SNAKE_CASE

springdoc:
  api-docs:
    path: /v3/api-docs

scalar:
  enabled: true
  path: /docs
  url: /v3/api-docs
